index index.php index.html index.htm;
location ~ \.php$ {

    # added by Ansible
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    if (!-f $document_root$fastcgi_script_name) {
        return 404;
    }

    fastcgi_read_timeout 300;
    fastcgi_pass   {% if tcp_not_sock is sameas true %}127.0.0.1:9000{% else %}unix:/opt/bitnami/php/var/run/www.sock{% endif %};
    fastcgi_index  index.php;
    fastcgi_param  SCRIPT_FILENAME $request_filename;
    include        fastcgi_params;

    # Added 12-Jun-2022
    # https://markshust.com/2020/01/02/resolving-upstream-sent-too-big-header-error-nginx/
    # https://gist.github.com/ikennaokpala/5792a71cfae6818035eedc8abd9ae7b4
    fastcgi_buffers 16 16k;
    fastcgi_buffer_size 32k;
}
{#
# vim: ai et ts=4 sts=4 sw=4 nu
#}
