index index.php index.html index.htm;
location ~ \.php$ {

    # added by Ansible
    # not using - it does prevent logging to error
    # but it gives an ugly 404 error
    #fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    #if (!-f $document_root$fastcgi_script_name) {
    #    return 404;
    #}

    fastcgi_read_timeout 300;
    fastcgi_pass   {% if tcp_not_sock is sameas true %}127.0.0.1:9000{% else %}unix:/opt/bitnami/php/var/run/www.sock{% endif %};
    fastcgi_index  index.php;
    fastcgi_param  SCRIPT_FILENAME $request_filename;
    include        fastcgi_params;
}
{#
# vim: ai et ts=4 sts=4 sw=4 nu
#}
