[www]
include=/opt/bitnami/php/etc/environment.conf
include=/opt/bitnami/php/etc/common.conf
pm=dynamic
listen={% if tcp_not_sock is sameas true %}127.0.0.1:9000{% else %}/opt/bitnami/php/var/run/www.sock{% endif %}

listen.allowed_clients=127.0.0.1

; Memory settings adapted to the machine
; The file below will be overwritten after restarts
include=/opt/bitnami/php/etc/memory.conf
{#
# vim: ai et ts=4 sts=4 sw=4 nu
#}
