server {
    # the default server, in case user arrives with 
    # an unrecognized host name
    {# https://www.shellhacks.com/jinja2-check-if-variable-empty-exists-defined-true/ #}

    listen {% if listen_poohbear_IP is defined and listen_poohbear_IP|length %}{{ listen_poohbear_IP }}:{% endif %}80 default_server;

    root /opt/bitnami/apps/poohbear;
    server_name _;

    listen {% if listen_poohbear_IP is defined and listen_poohbear_IP|length %}{{ listen_poohbear_IP }}:{% endif %}443 ssl default_server;

    ssl_certificate      bitnami/certs/server.crt;
    ssl_certificate_key  bitnami/certs/server.key;

    return 444; # Nginx drop

    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    include  "/opt/bitnami/nginx/conf/bitnami/*.conf";
}

# vim: ai et ts=4 sw=4 sts=4 nu
