server {
    # Simplest configuration
    {# https://www.shellhacks.com/jinja2-check-if-variable-empty-exists-defined-true/ #}

    listen {% if item.value.listen_IP is defined and item.value.listen_IP|length %}{{ item.value.listen_IP }}:{% endif %}80{% if item.value.default_server is defined and item.value.default_server is sameas true %} default_server{% endif %};

    root /opt/bitnami/apps/{{ item.key }};
    server_name {{ item.key }};

    listen {% if item.value.listen_IP is defined and item.value.listen_IP|length %}{{ item.value.listen_IP }}:{% endif %}443 ssl{% if item.value.default_server is defined and item.value.default_server is sameas true %} default_server{% endif %};

    ssl_certificate      bitnami/certs/server.crt;
    ssl_certificate_key  bitnami/certs/server.key;


    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    include  "/opt/bitnami/nginx/conf/bitnami/*.conf";
}

# vim: ai et ts=4 sw=4 sts=4 nu
