[Unit]
Description=gunicorn {{ item.key }} daemon
Requires=gunicorn_{{ item.key }}.socket
After=network.target

[Service]
User=bitnami
Group=daemon
EnvironmentFile=-/etc/default/gunicorn_{{ item.key }}

ExecStart=/bin/bash -c "${GUNICORN_BIN} \
    --chdir ${GUNICORN_WORKDIR} \
    --access-logfile /var/log/gunicorn_{{ item.key }}/access.log --error-logfile /var/log/gunicorn_{{ item.key }}/error.log \
    ${GUNICORN_APP}"

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=true

[Install]
WantedBy=multi-user.target

# vim: ai et ts=4 sw=4 sts=4 nu
